---
import Layout from '../layouts/Layout.astro';
import Charts from '../components/Charts';
import Counter from '../components/react/Counter';
import TryCatchHandling from '../components/react/TryCatchHandling';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="container">
			<div class="">
				<Counter client:visible />
				<TryCatchHandling client:visible />
			</div>
			<Charts client:visible />
		</div>
	</main>
</Layout>

<style>
	.container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}
</style>